@import '~@/utils/utils.less';

/* 全局样式，用于覆盖 antd 组件的样式。 */
#root {
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
}

.danger-text {
  color: @danger-color;
}
